#wrap main {}
#wrap main #hero_bnr {}
#wrap main #hero_bnr .hero_swiper {height: 730px;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper {}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide {}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt {position: absolute; left: 280px; bottom: 125px;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt > * {color: #fff;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt p {
    font-size: 2.5rem; font-weight: 700; 
    line-height: 1.43;
    margin-bottom: 10px;
}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt span {font-weight: 500; line-height: 1.7;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .slide1 {background-image: url(../images/hero_bnr_001.jpg);}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .slide2 {background-image: url(../images/hero_bnr_002.jpg);}
#wrap main #hero_bnr .pagi_bar {
    display: flex; flex-flow: row nowrap;
    position: absolute;
    left: 50%; bottom: 44px; transform: translateX(-50%);
    z-index: 99;
}
#wrap main #hero_bnr .swiper-pagination .swiper-pagination-current,
#wrap main #hero_bnr .swiper-pagination .swiper-pagination-total {position: absolute; top: -6px;}
#wrap main #hero_bnr .swiper-pagination .swiper-pagination-current {left: -20px;}
#wrap main #hero_bnr .swiper-pagination .swiper-pagination-total {right: -20px;}
#wrap main #hero_bnr .pagi_bar .bar_bg {width: 472px; background-color: #A9A9A9; height: 2px;}
#wrap main #hero_bnr .pagi_bar .bar_bg .bar {
    width: 0; height: 100%; 
    background-color: #fff; transition: width 3s linear;
}
#wrap main #hero_bnr .swiper-pagination-progressbwr-fill {transition: transform 0.6s ease;}
/* ============================================================================================main */
#wrap main .procut {padding: 70px 90px ;}
#wrap main .procut .product_top {
    background-color: blanchedalmond;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 24px;
}
#wrap main .procut .product_top .title_menu {display: flex; flex-flow: row nowrap;}
#wrap main .procut .product_top .title_menu > h1 {
    font-size: 2.25rem; font-weight: 600;
}
#wrap main .procut .product_top .title_menu .tab_menu {}
#wrap main .procut .product_top .title_menu .tab_menu a {
    background-color: aquamarine;
    font-size: 0.94rem; font-weight: 300; color: #5C5C5C;
    line-height: 38px; width: 55px;
}
#wrap main .procut .product_top .title_menu .tab_menu a .active {}
#wrap main .procut .product_top .more {
    width: 88px; display: flex; flex-flow: row nowrap; align-items: center;
}
#wrap main .procut .product_top .more span {line-height: 32px;}
#wrap main .procut .product_top .more .more_icon {width: 24px; display: block;}
#wrap main .procut .product_top .more img {width: 100%;}
/*  */
#wrap main .procut .tab_contents {}
#wrap main .procut .tab_contents .swiper {}
#wrap main .procut .tab_contents .swiper .swiper-wrapper {}
#wrap main .procut .tab_contents .swiper .swiper-wrapper .swiper-slide {}
#wrap main .procut .tab_contents .swiper .swiper-wrapper .swiper-slide a {}
#wrap main .procut .tab_contents .swiper .swiper-wrapper .swiper-slide a .potho {}
#wrap main .procut .tab_contents .swiper .swiper-wrapper .swiper-slide a .potho img {width: 100%;}
#wrap main .procut .tab_contents .swiper .swiper-wrapper .swiper-slide a .details {}
#wrap main .procut .tab_contents .swiper .swiper-wrapper .swiper-slide a .details h2 {}
#wrap main .procut .tab_contents .swiper .swiper-wrapper .swiper-slide a .details .price {}
#wrap main .procut .tab_contents .swiper .swiper-wrapper .swiper-slide a .details .price span {}
#wrap main .procut .tab_contents .swiper .swiper-wrapper .swiper-slide a .details .price del {}
